
<ion-content>
<div *ngFor="let data of BusinessDetail">
  <div class="uk-text-center">
    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <img src="{{data.image}}" alt="">
        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
          <p class="uk-h4 uk-margin-remove">{{data.name}}</p>
      </div>
    </div>
   
</div>
  
  <div style="margin: 17px;">
    <h2>{{data.name}}<span style="    float: right;
      font-size: 16px;
      /* background: #673AB7; */
      padding: 7px;
      color: white;
      padding-left: 10px;
      border-radius: 21px;
      padding-right: 10px;
      font-family: raleway;
    
      background-image: linear-gradient(to right, rgb(47, 172, 255) 0%, rgb(61, 47, 255) 100%);
  " (click)="shareBtn()"><ion-icon name="share-social" style="margin-right: 10px;"></ion-icon>Share</span></h2>

<h5><span
  style=" 
font-size: 16px;

padding: 7px;
color: white;
padding-left: 10px;
border-radius: 21px;
padding-right: 10px;
font-family: raleway;
background-image: linear-gradient(to right, #FF512F 0%, #FF512F 100%);
"><ion-icon name="copy" style="margin-right: 10px;"></ion-icon>{{catName}}
</span></h5>
    <h4 style="text-decoration: underline;">
      Description
    </h4>
    <h4 style="font-family: raleway;">
     {{data.desc}}
    </h4>

    <h4 style="text-decoration: underline;">
   Working Hour
    </h4>
    <h4 style="font-family: raleway;">
      {{data.workingHr}}
    </h4>

    <h4 style="text-decoration: underline;">
     Address
    </h4>
    <h4 style="font-family: raleway;">
      {{data.address}}
    </h4>
    <ion-card>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242118.14199614953!2d73.72288117003453!3d18.524564859944654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C%20Maharashtra%2C%20India!5e0!3m2!1sen!2sus!4v1586622907599!5m2!1sen!2sus" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </ion-card>
    
  </div>
  
  </div>
  </ion-content>
  <ion-footer style="height:7%">
   <ion-row>
     <ion-col>
      <ion-button color="primary" expand="full" (click)="Call(BusinessDetail[0].mobile)">
        <ion-icon name="call"  style="margin-right: 10px;"></ion-icon>
        Call</ion-button>
        
     </ion-col>
     <ion-col> 
      <ion-button color="success" expand="full" (click)="whatsApp(BusinessDetail[0].whatsapp)"
      >
        <ion-icon name="logo-whatsapp" style="margin-right: 10px;"
        ></ion-icon>
        Message</ion-button>
     </ion-col>
   </ion-row>
  </ion-footer>