<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      {{catName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!-- <div class="uk-navbar-left">
      <div class="uk-navbar-item" style=" min-height: 50px;">
          <form class="uk-search uk-search-navbar">
              <span uk-search-icon></span>
              <input class="uk-search-input" type="search" name='addressInput' 
              [(ngModel)]="addressInput"
              (change)="changed($event)"
              
              placeholder="Search..." style=" font-size: 20px;">
          </form>
      </div>

  </div> -->
  <!-- <ion-searchbar
    showcancelbutton=""
    (input)="filterList($event)"
    placeholder="Ex.Mobile Repair"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let data of businessListFilter">
      <ion-label (click)="BusinessList(data.id,data.name)">
        {{data.address}}</ion-label>
    </ion-item>
  </ion-list> -->
  </ion-card>

     
      
 
  <div *ngFor="let data of BusinessList">

 
<ion-card (click)="BusinessDetail(data.id)">
  <ion-row>
    <ion-col size=5>
      <div>
        <img src="{{data.image}}" style="    margin: -5px;height: 119px;
        width: 156px;">
      </div>
    </ion-col>
    <ion-col>
      <div>
        <!-- <h4 >{{data.name}}</h4> -->
        <ion-label style="margin-top: 0px; font-family: raleway;font-weight: bold;font-size:18px">{{data.name}}</ion-label>
      </div>
      <div>
        <ion-label style=" font-family: raleway;overflow: hidden;
        max-height: 3.6em;
       ">{{data.address}}</ion-label>
      </div>
    </ion-col>
  </ion-row>

 
</ion-card>
</div>
</ion-content>