<ion-header [translucent]="true">
  <ion-toolbar color="secondery">
    <ion-title>
      Latest News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list *ngFor="let news of newsData">
        <ion-item (click)="ReadNews(news.title,news.description,news.urlToImage,news.author,news.url)">
          <ion-col size="4">
            <img src="{{news.urlToImage}}">
          </ion-col>
          <ion-col size="8">
            <ion-label style="  font-family: raleway; white-space: pre-line;" >{{news.title}}</ion-label>
            </ion-col>
        </ion-item>
        </ion-list>
</ion-content>
