<!-- <ion-header [translucent]="true">
  <ion-toolbar  color="medium">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  
  <div class="topHeader">
<p style="font-size: 15px;
margin-left: 36px;
font-family: raleway;    padding-top: 23px;
">Location</p>
<p style="font-size: 20px;
margin-left: 10px;
font-family: raleway;
margin-top: -22px;"> <ion-icon name="location-outline" style="margin-right: 5px;"></ion-icon>Pune,India</p>
  </div>
  <div style="margin-top: -30%;">
    <h3 style="font-family: raleway;margin-left: 25px;font-size: 30px;    color: white;">How can we <br>help you Today?</h3>
    <!-- <ion-searchbar style="padding: 22px;    "></ion-searchbar> -->
    <ion-card>
      <div class="uk-navbar-left">
        <div class="uk-navbar-item" style=" min-height: 50px;">
            <form class="uk-search uk-search-navbar">
                <span uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search..." style=" font-size: 20px;">
            </form>
        </div>

    </div>
    </ion-card>
   
  </div>
  
  <div>
    
    <ion-grid>
      <ion-row class="category_row" *ngFor="let row of cat_row">
        <ion-col style="margin: -15px;"  *ngFor="let cat of loop;let i = index">
         <ion-card *ngIf="MainCategoryData[i+row].name" style="margin-top: 11px;" (click)="NextScreen(MainCategoryData[i+row].id,MainCategoryData[i+row].subcat)">
           <div>
            <img src="{{MainCategoryData[i+row].image}}" style="height: 51px;
            margin-top: 13px;">
           </div>
           
           <p style="font-family: raleway;overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
           margin-left: 5px;margin-top: 2px;margin-bottom: 15px;
    margin-right: 5px;">{{MainCategoryData[i+row].name}}</p>
         </ion-card>
        </ion-col >
        <!-- <ion-col style="margin: -15px;">
          <ion-card>
            <div>
              <img src="https://image.flaticon.com/icons/svg/2082/2082600.svg" style="height: 51px;
              margin-top: 13px;">
            </div>
            <p>Plumbing</p>
          </ion-card>
        </ion-col > -->
        <!-- <ion-col style="margin: -15px;">
          <ion-card>
            <div>
              <img src="https://image.flaticon.com/icons/svg/2082/2082600.svg" style="height: 51px;
              margin-top: 13px;">
            </div>
            <p>Plumbing</p>
          </ion-card>
        </ion-col> -->
        
      </ion-row>
      
      </ion-grid>
  </div>
  <br>
  <ion-slides pager="true" [options]="slideOpts" >
    <ion-slide *ngFor="let slide of slider">
     <img src="{{slide.image}}" style="height:200px;">
    </ion-slide>
   
  </ion-slides>
</ion-content>
