ion-content ion-toolbar {
  --background: translucent;
}

.category_row{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: raleway;
}

.topHeader{
  color: white;
  font-size: 50px;
  height: 250px;
  
  background: linear-gradient(rgba(50, 4, 253, 0.9), rgba(153, 7, 250, 0.9)), url(https://image.freepik.com/free-photo/manual-tool-set-set-wooden-floor_1150-15367.jpg) no-repeat top center

}